bin
bin
bin
bin
bin
bin
bin
bin
bin
/dotnet/AutoX.Web/obj
/dotnet/AutoX.Comm/obj
/dotnet/AutoX.WF.Core/obj
/dotnet/AutoX.Client.Core/obj
/dotnet/AutoX.Test/obj
/dotnet/AutoX.DB/obj
/dotnet/AutoX.Basic/obj
/dotnet/AutoX/obj
/dotnet/AutoX.Activities/obj
/dotnet/AutoX.Client/obj
/dotnet/AutoX.Database/obj
/dotnet/AutoX.Web/weblog.txt
