<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <DesktopBuildPackageLocation>C:\Users\huangjien\Documents\Autox\deploy\Host\AutoX.Web.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:xbu6bhutp8.database.windows.net,1433;Initial Catalog=Auto;Integrated Security=False;User ID=huangjien@xbu6bhutp8;Password=Passw0rd;Connect Timeout=30;Encrypt=True" Name="Server=tcp:xbu6bhutp8.database.windows.net,1433;Database=Auto;User ID=huangjien@xbu6bhutp8;Password=Passw0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbSqlPackage">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-AutoX.Web-20120715201355.mdf;Initial Catalog=aspnet-AutoX.Web-20120715201355;Integrated Security=True" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=Auto;Integrated Security=SSPI;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;Initial Catalog=Auto;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/AutoX.Basic.dll">
      <publishTime>08/02/2012 15:20:57</publishTime>
    </File>
    <File Include="bin/AutoX.Basic.pdb">
      <publishTime>08/02/2012 15:20:57</publishTime>
    </File>
    <File Include="bin/AutoX.Database.dll">
      <publishTime>08/02/2012 15:20:57</publishTime>
    </File>
    <File Include="bin/AutoX.Database.pdb">
      <publishTime>08/02/2012 15:20:57</publishTime>
    </File>
    <File Include="bin/AutoX.Web.dll">
      <publishTime>08/02/2012 16:10:00</publishTime>
    </File>
    <File Include="bin/AutoX.Web.pdb">
      <publishTime>08/02/2012 16:10:00</publishTime>
    </File>
    <File Include="bin/log4net.dll">
      <publishTime>07/16/2012 18:49:59</publishTime>
    </File>
    <File Include="bin/log4net.xml">
      <publishTime>07/16/2012 18:49:59</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>12/13/2011 08:49:34</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.xml">
      <publishTime>12/13/2011 08:49:34</publishTime>
    </File>
    <File Include="bin/System.Net.Http.dll">
      <publishTime>01/30/2012 17:59:44</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.dll">
      <publishTime>01/30/2012 17:59:44</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.dll">
      <publishTime>01/26/2012 18:01:06</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.xml">
      <publishTime>01/17/2012 08:00:48</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>01/26/2012 17:56:42</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.xml">
      <publishTime>01/01/0001 00:00:00</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <publishTime>01/26/2012 18:01:06</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.xml">
      <publishTime>01/16/2012 23:47:42</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <publishTime>01/26/2012 18:01:06</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.xml">
      <publishTime>01/16/2012 23:47:42</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <publishTime>01/26/2012 18:01:06</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <publishTime>01/26/2012 18:01:06</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.xml">
      <publishTime>01/16/2012 23:47:42</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.xml">
      <publishTime>01/17/2012 08:00:48</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>07/26/2012 08:01:56</publishTime>
    </File>
    <File Include="Service.asmx">
      <publishTime>07/16/2012 18:49:59</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>07/25/2012 10:16:40</publishTime>
    </File>
  </ItemGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:xbu6bhutp8.database.windows.net,1433;Database=Auto;User ID=huangjien@xbu6bhutp8;Password=Passw0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>