<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" requirePermission="false"/>
  </configSections>
  <log4net debug="true">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender,log4net">
      <param name="File" value="clientlog.txt"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%-23d %-5p %c - %m%n"/>
      </layout>
    </appender>
    <root>
      <priority value="ALL"/>
      <!-- set leve here:FATAL,ERROR,WARN,INFO,DEBUG,ALL-->
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:55065/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="AutoXService.ServiceSoap" name="ServiceSoap"/>
    </client>
  </system.serviceModel>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="Assemblies" value="ActivityLib.dll"/>
    <!--<add key="CSSType" value="//*[@class='ROW1' or @class='ROW2' or @class='EDIT' or @class='VIEWBOXCAPTION' or @class='TABON' or @class='TABOFF' or @class='ButtonItem' or @class='TOPBC' or @type='checkbox' or @type='text' or @class='Logonbutton' or @type='password']" />-->
    <add key="CSSType" value="//*[(@type='checkbox' or @type='text' or @class='Logonbutton' or @type='password' or @type='image' or @type='img' or @type='radio' or @name or @id) and not(@type='hidden') ]"/>
    <!--it could be Sequence,TestSuite,FlowChart.
    StateMachine? the CTP 1 has some bugs! -->
    <add key="DefaultURL" value="http://newtours.demoaut.com/"/>
    <add key="LogName" value="Automation"/>
    <add key="SupportedAction" value="action"/>
    <add key="SnapshotOnWarning" value="false"/>
    <add key="SnapshotOnError" value="false"/>
    <add key="MaximScreen" value="False"/>
    <add key="Enter" value="AutoX.Client.Enter"/>
    <add key="Click" value="AutoX.Client.Click"/>
    <add key="Check" value="AutoX.Client.Check"/>
    <add key="Close" value="AutoX.Client.Close"/>
    <add key="Command" value="AutoX.Client.Command"/>
    <add key="Start" value="AutoX.Client.Start"/>
    <add key="Wait" value="AutoX.Client.Wait"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebDriver" publicKeyToken="1c2bd1631853048f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.25.1.0" newVersion="2.25.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
