<?xml version="1.0"?>
<configuration>
  <configSections></configSections>
  <appSettings>
    <!-- user can add their own dll here to expand this framework
    <add key="Assemmblies" value="AutoX.Activities.dll"/>-->
    <add key="ProjectName" value="autox"/>
    <add key="UserName" value="yazhi.pang"/>
    <add key="Root" value="42c5eb51-0e1c-4de1-976d-733bde24220a"/>
    <add key="Assemblies" value="ActivityLib.dll"/>
    <!--<add key="CSSType" value="//*[@class='ROW1' or @class='ROW2' or @class='EDIT' or @class='VIEWBOXCAPTION' or @class='TABON' or @class='TABOFF' or @class='ButtonItem' or @class='TOPBC' or @type='checkbox' or @type='text' or @class='Logonbutton' or @type='password']" />-->
    <add key="CSSType" value="//*[(@type='checkbox' or @type='text' or @class='Logonbutton' or @type='password' or @type='image' or @type='img' or @type='radio' or @name or @id) and not(@type='hidden') ]"/>
    <!--it could be Sequence,TestSuite,FlowChart.
    StateMachine? the CTP 1 has some bugs! -->
    <add key="DefaultURL" value="http://newtours.demoaut.com/"/>
    <add key="LogName" value="Automation"/>
    <add key="SupportedAction" value="action"/>
    <add key="SnapshotOnWarning" value="false"/>
    <add key="SnapshotOnError" value="false"/>
    <add key="MaximScreen" value="False"/>
    <add key="BrowserType" value="Firefox"/>
    <add key="Sauce.Version" value="16"/>
    <add key="Enter" value="AutoX.Client.Core.Enter"/>
    <add key="Click" value="AutoX.Client.Core.Click"/>
    <add key="Check" value="AutoX.Client.Core.Check"/>
    <add key="Close" value="AutoX.Client.Core.Close"/>
    <add key="Command" value="AutoX.Client.Core.Command"/>
    <add key="Start" value="AutoX.Client.Core.Start"/>
    <add key="Wait" value="AutoX.Client.Core.Wait"/>
    <add key="Host.Type" value="Sauce"/>
    <add key="Host.Concurrent.Instances" value="5"/>
    <add key="SupportedActions" value="Enter,Click,Check,Close,Command,Start,Wait,GetValue,Existed,Not Existed, Verify Value"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/autox/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="AutoXService.ServiceSoap" name="ServiceSoap"/>
    </client>
  </system.serviceModel>
</configuration>
