<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <!-- user can add their own dll here to expand this framework
    <add key="Assemmblies" value="AutoX.Activities.dll"/>-->
    <add key="ProjectRoot" value="0010010000001"/>
    <add key="ResultsRoot" value="0020020000002"/>
    <add key="DataRoot" value="0030030000003"/>
    <add key="ObjectPool" value="0040040000004"/>
    <add key="SupportedActions" value="Enter,Click,Check,Close,Command,Start,Wait,GetValue,Existed,Not Existed, Verify Value"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>


    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/autox/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="AutoXService.ServiceSoap" name="ServiceSoap"/>
    </client>
  </system.serviceModel>
</configuration>
