<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- user can add their own dll here to expand this framework
    <add key="Assemmblies" value="AutoX.Activities.dll" />-->
    <add key="ProjectName" value="autox" />
    <add key="UserName" value="yazhi.pang" />
    <add key="Root" value="42c5eb51-0e1c-4de1-976d-733bde24220a" />
    <add key="Assemblies" value="ActivityLib.dll" />
    <!--<add key="CSSType" value="//*[@class='ROW1' or @class='ROW2' or @class='EDIT' or @class='VIEWBOXCAPTION' or @class='TABON' or @class='TABOFF' or @class='ButtonItem' or @class='TOPBC' or @type='checkbox' or @type='text' or @class='Logonbutton' or @type='password']" />-->
    <add key="CSSType" value="//*[(@type='checkbox' or @type='text' or @class='Logonbutton' or @type='password' or @type='image' or @type='img' or @type='radio' or @name or @id) and not(@type='hidden') ]" />
    <!--it could be Sequence,TestSuite,FlowChart.
    StateMachine? the CTP 1 has some bugs! -->
    <add key="DefaultURL" value="http://newtours.demoaut.com/" />
    <add key="LogName" value="Automation" />
    <add key="SupportedAction" value="action" />
    <add key="SnapshotOnWarning" value="false" />
    <add key="SnapshotOnError" value="false" />
    <add key="MaximScreen" value="False" />
    <add key="BrowserType" value="Firefox" />
    <add key="SauceVersion" value="16" />
    <add key="Enter" value="AutoX.Client.Core.Enter" />
    <add key="Click" value="AutoX.Client.Core.Click" />
    <add key="Check" value="AutoX.Client.Core.Check" />
    <add key="Close" value="AutoX.Client.Core.Close" />
    <add key="Command" value="AutoX.Client.Core.Command" />
    <add key="Start" value="AutoX.Client.Core.Start" />
    <add key="Wait" value="AutoX.Client.Core.Wait" />
    <add key="HostType" value="Local" />
    <add key="HostConcurrent.Instances" value="5" />
    <add key="SupportedActions" value="Enter,Click,Check,Close,Command,Start,Wait,GetValue,Existed,Not Existed, Verify Value" />
    <add key="ClientSettingsProviderServiceUri" value="" />
    <add key="DBConnectionString" value="mongodb://huangjien:Weilian2@localhost"/>
    <add key="ModeDebug" value="False"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <log4net debug="true">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender,log4net">
      <param name="File" value="AutoX.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%-23d %-5p %c - %m%n" />
      </layout>
    </appender>
    <root>
      <priority value="ALL" />
      <!-- set leve here:FATAL,ERROR,WARN,INFO,DEBUG,ALL-->
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/autox/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="AutoXService.ServiceSoap" name="ServiceSoap" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
